<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Cart</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-card ng-repeat="storeCart in cart">
        <!-- TODO style like a materialize collection 
                  I like "avatar content" in http://materializecss.com/collections.html
        -->
        {{storeCart}}
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="purchaseItem(storeCart)">Add to Cart</md-button>
        </md-card-actions>      
      </md-card>
    </md-dialog-content>
  </form>
</md-dialog>

