<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Cart</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons"> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
     HELLO WORLD! 
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="answer()">
        Reject Changes
      </md-button>
      <md-button ng-click="answer(myCroppedImage)" style="margin-right:20px;">
        Accept Changes
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

