<!-- Neither of these components support theming I don't think, perhaps in later release -->

<md-toolbar layout="row" class="md-whiteframe-z2" style="z-index:10; padding:0px; margin-bottom:0px; position:fixed; top: 0px">
  <md-button id="menuButton" ng-click="openLeftMenu()" aria-label="Custom Icon Button">
    <md-icon class="material-icons"> menu </md-icon>
  </md-button>

  <md-button href="#!/">
    <img id='brand-logo' src="/images/vesta_logo_new.png" alt="Vesta" />
  </md-button>


  <md-menu-bar id="navDropdown" ng-if="$ctrl.session.user">
    <md-menu>
      <md-button ng-click="openMenu($mdOpenMenu, $event)">
        {{$ctrl.session.user.displayName}}
      </md-button>
      <md-menu-content>
        <md-menu-item class="md-indent">
          <md-icon class="material-icons"> person </md-icon>
          <md-button ng-click="logout()">
            Logout
          </md-button>
        </md-menu-item>
        <md-menu-item class="md-indent">
          <md-icon class="material-icons"> store </md-icon>
          <md-button href="#!/becomeAChef">
            Create a Storefront
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item class="md-indent">
          <md-button ng-click="">
            Unrelated actions
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-menu-bar>
  
  <md-menu-bar id="navDropdown" ng-if="!$ctrl.session.user">
    <md-menu>
      <md-button ng-click="$mdOpenMenu()">
        Sign Up!
      </md-button>
      <md-menu-content>
        <md-menu-item class="md-indent">
          <md-icon class="material-icons"> person </md-icon>
          <md-button ng-click="fblogin()">
            Sign Up / Log In with Facebook!
          </md-button>
        </md-menu-item>
        <md-menu-item class="md-indent">
          <md-icon class="material-icons"> store </md-icon>
          <md-button href="">
            Create a Storefront -- Want here?
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item class="md-indent">
          <md-button ng-click="">
            Unrelated actions
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-menu-bar>

  <md-button id="cartButton" aria-label="Custom Icon Button">
    <md-icon class="material-icons"> shopping_cart </md-icon>
  </md-button>
</md-toolbar>

<!-- md-disable-backdrop will be in v1.0.10 -->
<md-sidenav md-is-open="true" md-component-id="left" class="md-sidenav-left">
  <!-- Not sure if we need this ng-if stuff, but for now it can remain -->
  <div ng-if="$ctrl.currentPath !== '/splash'"> 
    <!-- 
          NOTE All of search might not be necessary for v1
          We won't have enough stores to make use of all of it
          Plus we might not have tagging in v1
          SIDENOTE material chips might be cool to use here
    -->
    <md-button class='parentMenu sidenavMenu'>
      <md-icon class="material-icons"> search </md-icon>
      Store Search
    </md-button>

    <form class='childElement' name="search" >
      <md-input-container>
        <label>Store Name</label>
        <input type="text" ng-model="search.storeName" ng-change="storeNameChange()">
      </md-input-container>
      <rzslider rz-slider-model="slider.minValue"
                rz-slider-high="slider.maxValue"
                rz-slider-options="slider.options">
      </rzslider>
    
      <label ng-repeat='tag in tags'>
        <br>
        <!-- NOTE could switch to an md-checkbox -->
        <input type="checkbox" name='selectedTags[]' value='{{tag}}' 
          ng-checked="selection.indexOf(tag) > -1" ng-click="toggleSelection(tag)"> 
            {{tag}} 
        </label>
    </form>
  
    <md-button class='parentMenu sidenavMenu'>
      <md-icon class="material-icons"> store </md-icon>
      Buyer Dashboard
    </md-button>

    <div class='childElement'>
      <md-button class='childMenu sidenavMenu'>
        <md-icon class="material-icons" href="#!/pendingPickups"> store </md-icon>
        Pending Pickups
      </md-button>
      <md-button class='childMenu sidenavMenu' href="#!/pendingReviews">
        <md-icon class="material-icons"> store </md-icon>
        Pending Reviews
      </md-button>
    </div>

    <md-button class='parentMenu sidenavMenu'>
      <md-icon class="material-icons"> store </md-icon>
      Seller Dashboard
    </md-button>

  </div>
</md-sidenav>
