<!-- Neither of these components support theming I don't think, perhaps in later release -->

<md-toolbar layout="row" class="md-whiteframe-z2" style="z-index:10; padding:0px; margin-bottom:0px; position:fixed; top: 0px">
  <md-button href="#!/">
    <img id='brand-logo' src="/images/vesta_logo_new.png" alt="Vesta" />
  </md-button>


  <md-menu-bar id="navDropdown" ng-if="$ctrl.session.user">
    <md-menu>
      <!-- 
            NOTE this causes a "Cannot read property 'setAttribute' of null" TypeError
            This can be negated by changing this to button, however this breaks some css.
            That being said, since it causes no issues (that I can see), 
            it should remain as is
      -->
      <md-button ng-click="$mdOpenMenu()">
        {{$ctrl.session.user.displayName}}
      </md-button>
      <md-menu-content>
        <md-menu-item class="md-indent">
          <md-icon class="material-icons"> store </md-icon>
          <md-button ng-if="$ctrl.session.user.storeId" href="#!/store/{{$ctrl.session.user.storeId}}">
            Visit your Store
          </md-button>
          <md-button ng-if="!$ctrl.session.user.storeId" href="#!/becomeAChef">
            Create a Storefront
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="$ctrl.session.user.storeId" class="md-indent">
          <md-icon class="material-icons"> edit </md-icon>
          <md-button ng-if="$ctrl.session.user.storeId" href="#!/store/{{$ctrl.session.user.storeId}}/edit">
            Edit your Store
          </md-button>
        </md-menu-item>
        <md-menu-item class="md-indent">
          <md-icon class="material-icons"> dashboard </md-icon>
          <md-button href="#!/dashboard"> Buyer Dashboard </md-button>
        </md-menu-item>
        <md-menu-item class="md-indent" ng-if="$ctrl.session.user.storeId">
          <md-icon class="material-icons"> dashboard </md-icon>
          <md-button href="#!/sellerDashboard"> Seller Dashboard </md-button>
        </md-menu-item>
        <md-menu-item class="md-indent">
          <md-icon class="material-icons"> person </md-icon>
          <md-button ng-click="logout()">
            Logout
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item class="md-indent">
          <md-button ng-click="">
            Unrelated actions
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-menu-bar>
  
  <md-menu-bar id="navDropdown" ng-if="!$ctrl.session.user">
    <md-menu>
      <md-button ng-click="$mdOpenMenu()">
        Sign Up!
      </md-button>
      <md-menu-content>
        <md-menu-item class="md-indent">
          <md-icon class="material-icons"> person </md-icon>
          <md-button ng-click="fblogin()">
            Sign Up / Log In with Facebook!
          </md-button>
        </md-menu-item>
        <md-menu-item class="md-indent">
          <md-icon class="material-icons"> store </md-icon>
          <md-button href="">
            Create a Storefront -- Want here?
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item class="md-indent">
          <md-button ng-click="">
            Unrelated actions
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-menu-bar>

  <md-button id="cartButton" aria-label="Custom Icon Button" ng-click="showCart($event)">
    <md-icon class="material-icons"> shopping_cart </md-icon>
  </md-button>
</md-toolbar>
