{{!-- 
  THIS IS THE SPLASH PAGE
--}}


{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}

<div id="header"> 
  <a id="logo"> Vesta </a>
  <a> LINK </a>
  <a> LINK </a>
</div>

<div id="paneOne">  
  <div id="formContainer">
    <form action="/newsletter" method="post">
      <input type="text" placeholder="Email Address" name="email"/>
      <input type="submit" id="newsletterButton" value="Join Our Newsletter!"/>
    </form>
  </div>
</div>

<div id="paneTwo">

</div>

<div id="paneThree">

</div>
