{{!-- 
  THIS IS THE SPLASH PAGE
  TODO
    Form validation for the seller stuff
    Add in availabilities to the seller stuff
    Add in ability to add food items to the seller stuff
--}}

<div class="row valign-wrapper" id="toaster">
  <div id="toast-container" class="valign center"> </div>
</div>

{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}
<nav class="navbar transparent z-depth-0" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"> VESTA </a>
    <ul class="right hide-on-med-and-down">
      <li><a id="infoA"> Information </a></li>
      <li><a id="infoB"> Become A Chef </a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Info</a></li>
    </ul>
  </div>
</nav>

{{!-- Splash page photo and email form --}}
<div id="paneOne">  
  <div id="formContainer">
    <h2> The Online Marketplace for Homemade Food </h2>
    <br><br>
    <form action="/newsletter" method="post" id="emailForm">
      <input type="text" placeholder="Email Address" id="email" name="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" data-rule-required="true" data-rule-email="true" data-msg-required="" data-msg-email=""/>
      <input type="submit" id="newsletterButton" value="Join our Newsletter!"/>
    </form>
  </div>
</div>


{{!-- On Newsletter Survey --}}
<div id="survey" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">
      <div class="col s6"> 
        <h4>Modal Header</h4>
      </div>
      <div class="right"> 
        <i class="small material-icons modal-action modal-close waves-effect waves-red">close</i>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a id="surveyAgree" class="waves-effect waves-green btn-flat">Submit</a>
  </div>
</div>


{{!-- Who we are / what we do --}}
<div id="paneTwo">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center"> 
        Web Marketplace 
        <br> 
        - Under Construction - 
      </h1>
      <div class="row center">
        <h5 class="header col s12 light"> Vesta is currently expanding its presence. 
          We hope to have our fully integrated web marketplace available by mid June. 
          For now, please subscribe to our mailing list to receive listings of 
          great homemeade meals from local chefs.
        </h5>
        {{!-- TODO add in a button "subscribe" as per before which will bring user to form --}}
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section" id="quickOverview">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">people</i></h2>
            <h5 class="center">Community Focused</h5>
            <p class="light"> Get to know your neighborhood and your neighbors through culinary experiences.  </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">thumbs_up_down</i></h2>
            <h5 class="center">Comprehensive Review System</h5>
            <p class="light"> Vesta is committed to ensuring the highest quality experience. To achieve this, we offer a comprehensive review system for both buyers and sellers. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons">restaurant</i></h2>
            <h5 class="center"> Homemade Variety </h5>
            <p class="light"> If you don't like homemade food, you just don't get it </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<div id="paneThree">
  <div class="row center">
    <h2> Create Culinary Experiences </h2>
    <div class="arrow-down"></div>
  </div>

  <div class="container">
    <br><br>
    <div class="row center">
      <h5 class="header col s10 offset-s1 light"> 
        Live in Montreal? Have a passion for creating delicious meals? 
        <br>
        Join the Vesta community of chefs!
        <br>
      </h5>
      <div class="row center">
        <a id="becomeSeller" class="btn-large waves-effect waves-light"> Become A Chef </a>
      </div>
    </div>
    <br><br>
  </div>

</div>

{{!-- Become a Chef Modal --}}
<div id="becomeChef" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">
      <div class="col s6"> 
        <h4>Become a Chef</h4>
      </div>
      <div class="right"> 
        <i class="small material-icons modal-action modal-close waves-effect waves-red">close</i>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix" id="chefNameIcon">account_circle</i>
        <input id="chefFirst" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="chefLast" type="text" class="validate">
        <label for="icon_prefix">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <input id="chefEmail" type="email" class="validate">
        <label for="icon_email">Email</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="chefPhone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">store</i>
        {{!-- <i class="material-icons prefix">place</i> --}}
        <input id="chefAddress" type="text" class="validate">
        <label for="icon_location">Desired Pickup Location</label>
      </div>
    </div>
    {{!-- TODO when we start taking IDs
    <div class="row">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="chefId validate" type="text" placeholder="Government Issued ID">
        </div>
      </div>
    </div>
    --}}
    {{!-- TODO add this
    <div class="row">
      <h5> Avalabilities: </h5>
    </div>
    <div class="row">
      <div class="valign-wrapper" id="availability">
        <i class="left material-icons valign small" id="addAvailability">add</i>
        <div class="valign input-field col s6">
          <i class="material-icons prefix">date_range</i>
          <input id="chefPhone" type="date" class="datepicker">
        </div>
        <div class="valign input-field col s6">
          <i class="material-icons prefix">alarm</i>
          <input class="chefTime" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="chefPhone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="chefPhone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
    --}}
  
  </div>
 

  <div class="modal-footer">
    <a id="chefSubmit" class="waves-effect waves-green btn-flat">submit</a>
  </div>
</div>


{{!-- featured chefs space --}}
{{!--
<div id="paneFour">
  <div class="container">
    <div class="strike">
      <h2>FEATURED CHEFS</h2>
    </div>

    <div class="row">
      <div class="col s4 offset-s1">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s4 offset-s2">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4 offset-s1">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s4 offset-s2">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
--}}


{{!-- Non-fixed footer
      Contains information such as the company name, copyright, contact,
      instagram/facebook/etc links --}}
<footer class="page-footer light-blue lighten-1">
  {{!--
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4"> Put stuff like the company name, contact, instagram/facebook links, etc. here </p>
      </div>
    </div>
  </div>
  --}}


  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Vesta Food
    {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
    </div>
  </div>
</footer>
