{{!-- 
  THIS IS THE SPLASH PAGE
  TODO
    Add in availabilities to the seller stuff
    Add in ability to add food items to the seller stuff
--}}

<!-- Load facebook script -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '592850390877879',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="row valign-wrapper" id="toaster">
  <div id="toast-container" class="valign center"> </div>
</div>

{{!-- Navbar --}}
<nav id="theNav" class="navbar transparent z-depth-0" role="navigation">
  <div class="nav-wrapper container">
    <img id="brand-logo" src="/images/Vesta_Logo.png" alt="VESTA"/>
    <ul class="right">
      <li><a id="howItWorks"> How It Works </a></li>
      <li><a id="upcomingEvents"> Upcoming Events </a></li>
      <li><a id="becomeAChef"> Become A Chef </a></li>
    </ul>
  </div>
</nav>

{{!-- Splash page photo and email form --}}
<div id="splashPane">  
  <div id="formContainer">
    <h4> The Online Marketplace for Homemade Food </h4>
  </div>
</div>

<div class="container">
  <div id="howItWorksPane" class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="large material-icons">people</i></h2>
          <h5 class="center">Discover</h5>
          <p class="light center"> Discover homemade meals cooked in your neighborhood. </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="large material-icons">payment</i></h2>
          <h5 class="center">Order</h5>
          <p class="light center"> Order your food directly through Vesta's web application. </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="large material-icons">restaurant_menu</i></h2>
          <h5 class="center">Eat</h5>
          <p class="light center">Pickup food from your neighbors house or stay and chat while you eat.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div id="infoPane" class="section">
    <div class="section no-pad-bot" id="index-banner">
      <div class="row center">
        <h5 class="center">Start Discovering Homemade Food Now</h5>
        <p class="center light"> The Vesta application is still under development and will be completed in July, 2016! While our app is under development, check out who's sharing homemade food on our facebook page!
        </p>
        <p class="center light">
          If you have any questions about how it works or just want to say hi, shoot us a facebook message with the messages tab below!
        </p>
      </div>
      <div class="row center">
        <div class="fb-page"
             data-href="https://www.facebook.com/vestafood"
             data-width="500"
             data-hide-cover="false"
             data-tabs="events,timeline,messages"
             data-show-facepile="true">
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div id="becomeChefPane" class="section">
    <div class="row">
      <div class="col s12">
        <h5 class="center">Become a Chef</h5>
        <p class="center light"> If you are interested in sharing your homemade food with your community, we'd love to work with you. Just shoot us a one sentence email that tells us what you like to cook and we'll get back to you shortly! While our app is under development, we organize chef events through our facebook page. </p>
      </div>
    </div>
    <div class="row section center-align">
      <a id="emailButton"
         class="btn waves-effect"
         href="mailto:jimmy@vestafood.ca?Subject=Cooking%20with%20Vesta%20Food!">
        <i class="material-icons right">email</i>
          Send us an email
      </a>
    </div>
  </div>

</div>

<footer id="theFooter" class="page-footer">
    <div id="footerContainer" class="row valign-wrapper">
      <h6 class="col s4 center-align">
      © 2016 Copyright Vesta Food
      </h6>
      <h6 class="col s4 center"> 
        481 Avenue Viger Ouest
        <br>
        Montreal, QC H2Z 1G6
        <br>
        info@VestaFood.ca 
      </h6> 
      <span class="col s4 center-align">
        <img src="images/instagram_white.png" onclick="window.open('https://www.instagram.com/VestaFood/', '_blank');"/>
        <img src="images/facebook_white.png" onclick="window.open('https://www.facebook.com/VestaFood', '_blank');"/>
      </span>
    </div>
</footer>
