html,body
  padding: 0
  margin: 0
  height: 100%
  width: 100%
  line-height: 0
body
  font: 14px "Roboto", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#toaster
  /* z-index of a modal is 1003 */
  z-index: 1004
  position: fixed
  top: 85% !important
  width: 100%
  text-align: center
  #toast-container 
    position: relative
    top: 0 !important
    left: 0 !important
    display: inline
    margin: auto
    .toast
      margin: auto
      

.toast
  background-color: #ea6e10
  position: relative
  left: 0px !important

nav
  z-index: 10
  position: fixed
  
  /* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  .brand-logo
    font-weight: bold
  li
    a
      font-weight: bold
      -webkit-transition: all 1s
      transition: all 0.5s ease
    a:hover
      background-color: rgba(0,0,0,0.5) !important
      color: #ea6e10


#splashPane
  font-family: 'Avenir LT Std-Book', sans-serif;
  height: 80%
  min-height: 350 px
  max-width: 100%
  /***** IMAGE STUFF ******/
  /*** Set the gradient ***/
  /* default */
  background-image: url("../images/splash_one.jpg") 
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg")     
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg") 
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg")  
  /* Standard */
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg")
  
  /*** Set the size ***/
  background-size: cover

  /*** Set the position (what part of image is shown) ***/
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center;
  /* TODO test */
  /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
  -ms-behavior: url(/backgroundsize.min.htc)

  text-align: center


  /***** FORM *****/
  #formContainer
    width:100%
    display: inline-block
    position: absolute
    left:0
    top: 20%;

    h4
      position: relative
      color: #FFFFFF

    form
      margin: 0px
      padding: 0px
      /* This removes the space between the input fields */
      font-size: 0

      input
        border-style: none
        height: 50px
        font-size: 20px
        padding-left: 10px
        padding-right: 10px
      
      input[type="text"]
        width: 250px
        border-radius: 4px 0px 0px 4px
        background-color: #FFFFFF
        
      input[type="submit"]
        cursor: pointer
        color: #FFFFFF
        background-color: #3375AA
        border-radius: 0px 4px 4px 0px

#newsletterPane
  width: 100%
  h1
    color: #3375AA
  #menuDivContainer
    style: inline-block
    width: 30%
    margin-left: 10%
    margin-top: -20px !important
    float: left
    cursor: pointer;
    text-align: center
    font-weight: bold
    #menuDiv
      height:275px;
      width:300px;
      margin: auto
      background-image: url("../images/Menu_Alert_1.jpg") 
      /*** Set the size ***/
      background-size: cover
      /*** Set the position (what part of image is shown) ***/
      -ms-background-position-x: 50%;
      -ms-background-position-y: 80%;
      background-position: 50% 80%;
      /* TODO test */
      /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
      -ms-behavior: url(/backgroundsize.min.htc)
  #menuDivContainer:hover
      color: #00B7FF
  .emailFormLink
    cursor: pointer
  .emailFormLink:hover
    color: #0077DD
  #menuStepsContainer
    style: inline-block
    float: right
    width: 60%

#menuModal
  .right
    padding:10px

#infoPane
  position:relative
  width: 100%

  h1
    color: #3375AA
  a
    background-color: #3375AA
  h2
    color: #ea6e10
  .icon-block
    margin: 10px

.arrow-down {
  display: inline-block
  padding: 0
  margin: 0
	width: 0; 
	height: 0; 
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	
	border-top: 50px solid #3375AA;
}

#addChefPane
  min-height: 435px
  height: 80%
  /* default */
  background-image: url("../images/splash_two.jpg") 
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_two.jpg")     
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_two.jpg") 
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_two.jpg")  
  /* Standard */
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_two.jpg")
  /*** Set the size ***/
  background-size: cover

  /*** Set the position (what part of image is shown) ***/
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center;
  /* TODO test */
  /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
  -ms-behavior: url(/backgroundsize.min.htc)
  
  width: 100%

  .triangleBanner
    margin: 0 !important

  h2
    padding:20px
    width: 100%
    background-color: #3375AA
    color: #FFFFFF
    margin:0px

  li
    margin: 20px
  .container
    width: 90%
    h5
      color:#FFFFFF
  #becomeSeller
    background-color: #3375AA
  .photoBanner
    position: relative
    top: 20%

/* TODO this moves the background elements a bit (removes scroll)... fix this */
#becomeChef
  .modal-content
    overflow-x: hidden !important
  .row 
    margin-bottom: 0
  #addAvailability
    cursor: pointer


.strike {
  position: relative;
  top: 30px
  text-align: center;
  color: #3375AA
}
.strike:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 3px;
  content: "";
  background-color: #3375AA
}
.strike h2 {
  display: inline;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 10px;
  background-color: #FFFFFF
  font-size: 3em;
}


#featuredPane
  background-color: #FFFFFF 
  width: 100%
  img
    padding-bottom: 25px
    margin-bottom: 0px
  .row
    margin-top: 30px;
    position:relative
    top: 12%
  .slick-dots
    bottom: 0
  .slick-dotted.slick-slider
    margin-bottom: 0px
  .container
    width: 90%
  #becomeSeller
    background-color: #3375AA
  .card-reveal
    z-index: 6
  .card-image
    .price
      position: absolute
      top: 0
      margin: auto
      padding: 10px
      background: rgba(0,0,0,0.7)
      color: #FFFFFF




.page-footer
  /* Override the default spacings */
  margin-top: 0px !important
  /* TODO check if like better */
  /* padding-top: 0px !important */
  img
    cursor: pointer
    margin: 10px
    height: 30px
    width: 30px



@media screen and (max-width: 1000px) {
  input {
    font-size: 20px !important
  }
  input[type="text"] {
    width: 200px !important
  }
}
@media screen and (max-width: 900px) {
  #menuDivContainer {
    width: 50% !important;
    margin-left: auto !important;
    float: none !important;
  }
  #menuStepsContainer{
    width: 100% !important;
  }
}
@media screen and (max-width: 750px) {
  input {
    font-size: 15px !important
  }
  input[type="text"] {
    width: 125px !important
  }
  .photoBanner {
    top: 0px !important;
  }
}
@media screen and (max-height: 500px) {
  #formContainer {
    top: 125px !important;
  }
}

