html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#toast-container {
  display: inline-block;
  position: relative;
  right: 0px !important;
}
.toast {
  background-color: #ea6e10;
  position: relative;
  left: 0px !important;
}
nav {
  z-index: 10;
  position: fixed;
}
#paneOne {
  height: 90%;
  min-height: 300px;
  max-width: 100%;
/***** IMAGE STUFF ******/
/*** Set the gradient ***/
/* default */
  background-image: url("../images/splash_one.jpg");
/* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/* Standard */
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/*** Set the size ***/
  background-size: cover;
/*** Set the position (what part of image is shown) ***/
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center;
/* TODO test */
/* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
  -ms-behavior: url("/backgroundsize.min.htc");
  text-align: center;
/***** FORM *****/
}
#paneOne #formContainer {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 35%;
}
#paneOne #formContainer p {
  position: relative;
  color: #fff;
  font-size: 3em;
}
#paneOne #formContainer form {
  margin: 0px;
  padding: 0px;
/* This removes the space between the input fields */
  font-size: 0;
}
#paneOne #formContainer form input {
  border-style: none;
  height: 50px;
  width: 300px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}
#paneOne #formContainer form input[type="text"] {
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
}
#paneOne #formContainer form input[type="submit"] {
  cursor: pointer;
  color: #fff;
  background-color: #3375aa;
  border-radius: 0px 10px 10px 0px;
}
#paneTwo {
  position: relative;
  width: 100%;
}
#paneTwo h1 {
  color: #3375aa;
}
#paneTwo a {
  background-color: #3375aa;
}
#paneTwo h2 {
  color: #ea6e10;
}
#paneTwo .icon-block {
  margin: 10px;
}
#paneThree {
  background-color: #8899ab;
  width: 100%;
}
#paneThree .row {
  margin-top: 30px;
  position: relative;
  top: 12%;
}
#paneThree li {
  margin: 20px;
}
