html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 0;
}
body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#toaster {
/* z-index of a modal is 1003 */
  z-index: 1004;
  position: fixed;
  top: 85% !important;
  width: 100%;
  text-align: center;
}
#toaster #toast-container {
  position: relative;
  top: 0 !important;
  left: 0 !important;
  display: inline;
  margin: auto;
}
#toaster #toast-container .toast {
  margin: auto;
}
.toast {
  background-color: #ea6e10;
  position: relative;
  left: 0px !important;
}
nav {
  z-index: 10;
  position: fixed;
/* Make text unselectable */
  -webkit-user-select: none;
/* Chrome/Safari */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE10+ */
/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
nav .brand-logo {
  font-weight: bold;
}
nav li a {
  font-weight: bold;
  -webkit-transition: all 1s;
  transition: all 0.5s ease;
}
nav li a:hover {
  background-color: rgba(0,0,0,0.5) !important;
  color: #ea6e10;
}
#paneOne {
  font-family: 'Avenir LT Std-Book', sans-serif;
  height: 90%;
  min-height: 350px;
  max-width: 100%;
/***** IMAGE STUFF ******/
/*** Set the gradient ***/
/* default */
  background-image: url("../images/splash_one.jpg");
/* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/* Standard */
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/*** Set the size ***/
  background-size: cover;
/*** Set the position (what part of image is shown) ***/
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center;
/* TODO test */
/* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
  -ms-behavior: url("/backgroundsize.min.htc");
  text-align: center;
/***** FORM *****/
}
#paneOne #formContainer {
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 25%;
}
#paneOne #formContainer h2 {
  position: relative;
  color: #fff;
}
#paneOne #formContainer form {
  margin: 0px;
  padding: 0px;
/* This removes the space between the input fields */
  font-size: 0;
}
#paneOne #formContainer form input {
  border-style: none;
  height: 65px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
#paneOne #formContainer form input[type="text"] {
  width: 300px;
  border-radius: 4px 0px 0px 4px;
  background-color: #fff;
}
#paneOne #formContainer form input[type="submit"] {
  cursor: pointer;
  color: #fff;
  background-color: #3375aa;
  border-radius: 0px 4px 4px 0px;
}
#paneTwo {
  position: relative;
  width: 100%;
}
#paneTwo h1 {
  color: #3375aa;
}
#paneTwo a {
  background-color: #3375aa;
}
#paneTwo h2 {
  color: #ea6e10;
}
#paneTwo .icon-block {
  margin: 10px;
}
.arrow-down {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #3375aa;
}
#paneThree {
/* default */
  background-image: url("../images/splash_one.jpg");
/* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_one.jpg");
/* Standard */
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url("../images/splash_two.jpg");
/*** Set the size ***/
  background-size: cover;
/*** Set the position (what part of image is shown) ***/
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center;
/* TODO test */
/* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
  -ms-behavior: url("/backgroundsize.min.htc");
  width: 100%;
}
#paneThree h2 {
  padding: 20px;
  width: 100%;
  background-color: #3375aa;
  color: #fff;
  margin: 0px;
}
#paneThree .row {
  margin-top: 30px;
  position: relative;
  top: 12%;
}
#paneThree li {
  margin: 20px;
}
#paneThree .container {
  width: 90%;
}
#paneThree .container h5 {
  color: #fff;
}
#paneThree #becomeSeller {
  background-color: #3375aa;
}
/* TODO this moves the background elements a bit (removes scroll)... fix this */
#becomeChef .modal-content {
  overflow-x: hidden !important;
}
#becomeChef .row {
  margin-bottom: 0;
}
#becomeChef #addAvailability {
  cursor: pointer;
}
.strike {
  position: relative;
  top: 30px;
  text-align: center;
  color: #3375aa;
}
.strike:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 3px;
  content: "";
  background-color: #3375aa;
}
.strike h2 {
  display: inline;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 10px;
  background-color: #fff;
  font-size: 3em;
}
#paneFour {
  background-color: #fff;
  width: 100%;
}
#paneFour .row {
  margin-top: 30px;
  position: relative;
  top: 12%;
}
#paneFour li {
  margin: 20px;
}
#paneFour .container {
  width: 90%;
}
#paneFour #becomeSeller {
  background-color: #3375aa;
}
.page-footer {
/* Override the default spacings */
  margin-top: 0px !important;
/* TODO check if like better */
/* padding-top: 0px !important */
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 36px !important;
  }
  h2 {
    font-size: 36px !important;
  }
  input {
    font-size: 15px !important;
  }
  input[type="text"] {
    width: 175px !important;
  }
}
