<md-content id="storesContainer" class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="rows in $ctrl.chunkedData">
    <md-card ng-repeat="store in rows">
      <slick dots=true arrows=true infinite=true speed=300 slides-to-show=1 touch-move=false slides-to-scroll=1 adaptive-height=true>
        <!-- 
              TODO should probably make the food photo clickable
              This would lead to the food #'ed in the store page 
              Maybe a button within will bring you to the food in the page? 
        -->
        <div ng-repeat="food in store.foods">
          <div class="foodImageInfo">
            <span class="foodPrice"> ${{food.price}} </span>
            <span class="foodRating" align="right"> 
              <md-button class="star" md-no-ink ng-repeat="star in $ctrl.getNumber(food.overallRating) track by $index">
                <md-icon class="material-icons"> star_rate </md-icon>
              </md-button>
            </span>
          </div>
          <!-- Not sure if we want this
          <span class="foodName"> {{food.name}} </span>
          -->
          <img ng-src="{{food.photo}}" class="md-card-image" alt="Store Image">
        </div>
      </slick>
      <md-card-title>
        <md-card-title-text>
        <span class="md-headline" ng-click="$ctrl.goToStore(store, -1)">{{store.storeTitle}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{store.description}}
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.goToStore(store, -1)">Visit Store</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
