<!-- 
      NOTE perhaps should put a search location thing here
      This can be doubly useful if we prompt when no stores are found
-->

<md-content id="storesContainer" class="md-padding" 
            layout="column" layout-align="space-between start" layout-gt-sm="row" 
            layout-align-sm="center center" layout-align-xs="center center">
  <div flex layout="column" ng-repeat="rows in currentStores">
    <div ng-cloak ng-repeat="food in rows">
      <food-card food="food" store="food.store" scoped-page="view"></food-card>
    </div>
  </div>
</md-content>

