<md-content id="storesContainer" class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column" ng-repeat="rows in $ctrl.chunkedData">
    <md-card ng-repeat="store in rows">
      <!-- TODO this will be the scrolling food image thing -->
      <img ng-src="{{store.foods[0].photo}}" class="md-card-image" alt="Store Image">
      <md-card-title>
        <md-card-title-text>
        <span class="md-headline">{{store.storeTitle}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{store.description}}
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Action</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
