/* variables */
$primaryColor = #4A6EA9
$secondaryColor = #EA6E10
$alertColor = #EA6E10
$linkColor = #00B7FF

html, body
  padding: 0
  margin: 0
  height: 100%
  width: 100%

/* NOTE a few of these attributes can be encapsulated in a header elements class */
md-toolbar
  $navButtonSize = 40px

  background-color: $primaryColor

  /* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  #brand-logo
    margin-top: auto
    margin-bottom: auto
    margin-left: 20px

  md-button
    cursor: pointer
    height: $navButtonSize
    width: $navButtonSize
    margin: 10px
    margin-top: auto
    margin-bottom: auto
    color: #FFFFFF

    md-icon.material-icons
      height: $navButtonSize
      width: $navButtonSize
      font-size: 40px

  md-button:hover
    color: $secondaryColor

  #username
    margin: auto
    margin-right:20px

  #cartButton
    /* hmm... I don't know if I like this... */
    margin-right: 10px
