/* variables */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
md-toolbar {
  background-color: #4a6ea9;
/* Make text unselectable */
  -webkit-user-select: none;
/* Chrome/Safari */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE10+ */
/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
md-toolbar .brand-logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}
md-toolbar md-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
}
md-toolbar md-button md-icon.material-icons {
  height: 40px;
  width: 40px;
  font-size: 40px;
}
md-toolbar md-button:hover {
  color: #ea6e10;
}
