/* variables */
/* Try to mostly use Angular-Material for coloring though */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/* NOTE a few of these attributes can be encapsulated in a header elements class */
md-toolbar {
  background-color: #4a6ea9;
/* Make text unselectable */
  -webkit-user-select: none;
/* Chrome/Safari */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE10+ */
/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
md-toolbar #brand-logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
md-toolbar button {
  cursor: pointer;
  height: 40px;
  width: 40px;
/* Try to avoid an override */
  margin: 10px !important;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  border-radius: 0 !important;
}
md-toolbar button md-icon.material-icons {
  height: 40px;
  width: 40px;
  font-size: 40px;
}
md-toolbar button:hover md-icon.material-icons {
  color: #ea6e10;
}
md-toolbar #username {
  margin: auto;
  margin-right: 20px;
}
md-toolbar #cartButton {
/* hmm... I don't know if I like this... */
  margin-right: 10px;
}
