/* variables */
/* Try to mostly use Angular-Material for coloring though */
$primaryColor = #4285F4
$secondaryColor = #EA6E10
$alertColor = #EA6E10
$linkColor = #00B7FF
$backgroundColor = #F2F2F2

$headerHeight = 50px

html, body
  padding: 0
  margin: 0
  height: 100%
  width: 100%
  background-color: $backgroundColor

/* This is kindof hacky, it ensures that the top divs aren't hidden
    ... would like to avoid */
body
  padding-top: $headerHeight
md-toolbar
  margin-top: -50px;

/******************************** TOP NAV BAR ********************************/
/* NOTE a few of these attributes can be encapsulated in a header elements class */
$componentSize = 30px
$marginSpace = 10px
md-toolbar
  height: $headerHeight
  min-height: $headerHeight

  background-color: $primaryColor !important

  /* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  #brand-logo
    margin-top: auto
    margin-bottom: auto
    margin-left: 20px

  button
    cursor: pointer
    height: $navButtonSize
    width: $navButtonSize
    margin: 10px     
    margin-top: auto
    margin-bottom: auto
    color: #FFFFFF
    border-radius: 0 !important

    md-icon.material-icons
      height: $componentSize
      width: $componentSize
      font-size: $componentSize

  button:hover
    md-icon.material-icons
      color: $secondaryColor

  #username
    margin: auto
    margin-right:20px

  #cartButton
    /* hmm... I don't know if I like this... */
    margin-right: 10px


/******************************** SIDE NAV BAR ********************************/
md-sidenav
  position: fixed
  /* This ensures that the sidenav doesn't overlap the topnav shadow */
  top: $headerHeight + 15 !important
  background-color: $backgroundColor

.md-sidenav-backdrop
  height: 0px
  width: 0px







