<div class="importantFixedDiv">
  <md-button class="importantFixedButton" ng-if="checkOwnership()" ng-click="editStore()">
    <md-icon class="material-icons"> edit </md-icon> Edit!
  </md-button>
</div>
  


<div id="titleDiv">
  <div id="titleRow" layout="row" layout-align="space-between end">
    <!-- TODO will need to deal with long titles here -->
    <img ng-if="store.profilePhoto" src="{{store.profilePhoto}}" alt="Profile Picture"/>
    <img ng-if="!store.profilePhoto" src="/images/user/default_profile.jpg" alt="Profile Picture"/>
    <span id="storeTitle" class="md-display-1"> {{store.storeTitle}} </span>
    <div id="starPlaceholder"> </div>
  </div>
  <div class="underline" flex/>
  <div id="storeDescription">
    {{store.description}}
  </div>
</div>

<slick ng-if="foodLoaded" settings="slickConfig" id="storeFrontSlick">
  <div ng-repeat="food in store.foods">
    <!--  
          TODO  Consider putting the food image as a background image to the card 
                this might facilitate sizing and text placement
          TODO  Consider an ng-if fix to slick issues 
                Then could style cards to be auto-margined to center 
                if few food options and no slick
    -->
    <food-card food="food" store="store" scopedPage="front"></food-card>
  </div>
</slick>

<!-- 
      TODO for a later version we can add the dishes they had too
-->
<!-- Review Stuff -->
<!-- An alternative way of doing this would be with lists
      https://material.angularjs.org/1.0.9/demo/list -->
<div id="storeReviews">
  <div ng-repeat="review in storeReviews">
    <div class="altCard">
      <div class="profilePhotoDiv">
        <!-- 
              NOTE should probably get a stock image for no-photo people 
              if we even allow that to happen
        -->
        <img ng-src="{{review.buyer.photo}}" class="profilePhoto md-card-image" alt="Profile Image" />      
      </div>
      <div class="reviewContentContainer">
        <div class="reviewHeader" layout="row" layout-align="space-between end">
          <div class='md-title'> {{review.buyer.displayName}} </div>
          <!-- NOTE not sure if I like this not lining up with the other stars -->
          <div class="reviewStars"> 
            <md-icon class="star material-icons" ng-repeat="star in $ctrl.getNumber(review.overall) track by $index"> star </md-icon>
          </div>
          <div> {{review.date}} </div>
        </div>
        <div ng-if="review.comment" class="reviewComment">
          {{review.comment}}
        </div>
        <!-- 
              NOTE could alternatively just have slightly different styling
              Could also just require a comment
        -->
        <div ng-if="!review.comment" class="reviewComment">
          <i>
            No Review Comment Given!
          </i>
        </div>

    </div>
    </div>
  </div>
</div>
{{slickStyle()}}
