<div id="titleDiv">
  <div id="titleRow" layout="row" layout-align="space-between center">
    <!-- TODO will need to deal with long titles here -->
    <img src="{{store.profilePhoto}}" alt="Profile Picture"/>
    <span id="storeTitle" class="md-display-3"> {{store.storeTitle}} </span>
    <div id="titleStars"> 
      <md-icon class="star material-icons" ng-repeat="star in $ctrl.getNumber(store.overallRating) track by $index"> star </md-icon>
    </div>
  </div>
  <div class="underline" flex/>
</div>

<slick settings="slickConfig">
  <div ng-repeat="food in store.foods">
    <!--  
          TODO consider putting the food image as a background image to the card 
          this might facilitate sizing and text placement
    -->
    <md-card>
      <div class="foodImageInfo" layout="row" layout-align="space-between center">
        <span class="foodPrice"> ${{food.price}} </span>
        <span class="foodRating" align="right"> 
          <md-icon class="star material-icons" ng-repeat="star in $ctrl.getNumber(food.overallRating) track by $index"> star </md-icon>
        </span>
      </div>
      <img ng-src="{{food.photo}}" class="md-card-image" alt="Store Image">      
      

      <md-card-actions layout="row" layout-align="center center">
        <md-button ng-click="">Add to Cart</md-button>
      </md-card-actions>
    </md-card>
  </div>
</slick>

