/* variables */
/* Try to mostly use Angular-Material for coloring though */
$primaryColor = #00B36F
$secondaryColor = #FCA345
$alertColor = #EA6E10
$linkColor = #00B7FF
$backgroundColor = #F2F2F2
$starColor = $alertColor


$headerHeight = 50px
$sideNavWidth = 225px

html, body
  padding: 0
  margin: 0
  height: 100%
  width: 100%
  background-color: $backgroundColor


#nonNavContainer
  padding-top: $headerHeight
  transition: all 0.1s ease-in
  width: 80%
  margin: auto
#nonNavContainer.sideNavOpen
  padding-left: $sideNavWidth
  transition: all 0.15s ease-in


/******************************** TOP NAV BAR ********************************/
/* NOTE a few of these attributes can be encapsulated in a header elements class */
$componentSize = 30px
$marginSpace = 10px
md-toolbar
  height: $headerHeight
  min-height: $headerHeight

  background-color: $primaryColor !important

  /* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  #brand-logo
    height: $componentSize
    width: auto
    margin-top: auto
    margin-bottom: auto
    margin-left: 20px

  .topOptions
    display: inline-block
    width: 200px

  button
    cursor: pointer
    height: $navButtonSize
    width: $navButtonSize
    margin: 10px     
    color: #FFFFFF
    border-radius: 0 !important

    md-icon.material-icons
      height: $componentSize
      width: $componentSize
      font-size: $componentSize

  button:hover
    md-icon.material-icons
      color: $secondaryColor

  #navDropdown
    margin: auto
    margin-right:20px
    .md-menu
      button
        /* Doesn't seem to work with md-open */
        cursor: pointer
        
    

/* The menu content shows up outside the nav */
md-menu-content
  .material-icons
    width: auto


/******************************** SIDE NAV BAR ********************************/
md-sidenav
  position: fixed
  /* This ensures that the sidenav doesn't overlap the topnav shadow */
  top: $headerHeight + 15 !important
  background-color: $backgroundColor
  transition: all 0.25s ease-in
  width: $sideNavWidth
  
  .sidenavMenu
    width: 100%
    margin: 0
    text-align: left
    text-transform: none
  .childElement
    width: 80%
    margin-left: 10%


.md-sidenav-backdrop
  height: 0px
  width: 0px





/******************************** STORES VIEW ********************************/
/* Hacky workaround to make flexbox images scale correctly */
/* Allegedly adding flex="none" on a child may work, I haven't seen success */
/* TODO should probably prohibit strangely sized images (far away from 50-50) */
#storesContainer *
  min-height: 0
  min-width: 0

#storesContainer
  overflow-x: hidden
  background-color: $backgroundColor
  md-card-title
    padding-top: 0
    .md-headline
      cursor: pointer

  /* SLICK STUFF */
  /* NOTE not so sure I like the buttons changing position with the image swaps 
      I guess it is the best way to do it though */
  /* TODO might want dots div so uniform padding if only one image */
  slick
    .slick-arrow
      z-index: 1
    .slick-arrow:before
      font-size: 40px
    .slick-arrow.slick-prev
      left: 0
    .slick-arrow.slick-next
      right: 20px
    .slick-arrow.slick-prev:before, .slick-arrow.slick-next:before
      opacity: 0.75
    .slick-arrow.slick-prev:focus:before, .slick-arrow.slick-next:focus:before
      opacity: 0.75
    .slick-arrow.slick-prev:hover:before, .slick-arrow.slick-next:hover:before
      opacity: 1
      color: $secondaryColor 

    .foodImageInfo
      padding: 5px
      display: block
      background: rgba(0,0,0,0.3)
      position: absolute
      width: inherit

      .foodPrice
        display: inline-block
        color: #FFFFFF
        font-weight: bold
        padding: 4px

      .foodRating
        float: right;
        .star 
          color: $starColor
          md-icon
            color: $secondaryColor


/******************************** STORE FRONT ********************************/
/* 
    NOTE this is mostly repeated from the stores-view slick
    The foodImageInfo logic didn't recycle very well though
    Should condense this logic later
*/
store-front
  slick
    *
      min-height: 0
      min-width: 0

    /* arrow styling */
    .slick-prev:before, .slick-next:before
      font-family: 'Material Icons'
      -webkit-font-feature-settings: 'liga'
      color: lighten($primaryColor, 10%)
      font-size: 40px
    .slick-prev, .slick-next
      z-index: 1
    .slick-prev:before
      content: "chevron_left"
    .slick-next:before
      content: "chevron_right"
    .slick-prev
      left: 0px
    .slick-next
      right: 0px

    .slick-slide
      transform: scale(0.6)
      transition: all 0.5s
    .slick-center
      transform: scale(1)


.importantFixedDiv
  position: fixed
  bottom: 10px
  right: 10px
  z-index: 10
  .importantFixedButton
    background-color: $alertColor
  /* Override default hover behaviour */
  .importantFixedButton:hover
    background-color: $alertColor


#titleDiv
  margin-top: 20px
  width: 80%
  margin-left: auto
  margin-right: auto

  #titleRow
    padding: 10px

  img
    /* Height of md-display-3 */
    height: 56px
    border-radius: 50%

  #storeTitle
    display:inline-block

  #titleStars
    /* If I want the stars to lie low on the line */
    /* Height of md-display-3 */
    padding-top: 20px 
    .star
      color: $starColor
      /* NOTE for whatever reason, this adds an overflow-x to the body */
      font-size: 36px
      height: 36px
      width: 36px

  .underline
    height: 5px;
    background-color: $primaryColor


/* TODO change the current buttons so that they are large chevrons */

.foodImageInfo
  padding: 5px
  background: rgba(0,0,0,0.3)
  margin-bottom: -34px 
  z-index: 1

  .foodPrice
    color: #FFFFFF
    font-weight: bold
  
  .star
    color: $starColor
  
#descriptionPanel
  margin-top: 50px
  margin-bottom: 50px
  #storeDescription
    margin-left: 5%
    width: 100%

/* Styling for the toast */
md-card
  md-toast.md-bottom
    bottom: 50px
    text-align: center

#storeReviews
  .altCard
    background-color: #FFFFFF
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)
    margin: 10px
    padding: 10px
    width: 80%
    margin-left: auto
    margin-right: auto

    .profilePhotoDiv
      vertical-align: top
      width: 10%
      display: inline-block
      .profilePhoto
        border-radius: 50%
        height: 48px;
        width: 48px;
    .reviewStars .star
      color: $starColor

    .reviewContentContainer
      display: inline-block;
      width: 85%
      .reviewComment
        font-weight: 100
        margin-top: 10px


/******************************** STORE EDIT ********************************/
/* TODO some (or most) of this can be condensed with the storefront */
#imageCropDialog
  min-height: 500px
  min-width: 350px
  #imageFileEntry
    margin-top: 10px
    margin-bottom: 10px
  .cropArea 
    background: #E4E4E4
    overflow: hidden
    width:500px
    height:350px
    margin: auto

#storeDescriptionEdit
  width: 80%
  min-height: 150px

#addressEdit
  margin-left: 5px
  /* Could probably do this better with some sort of layout managing */
  width: 60%

.editCard
  padding: 20px 20px 0px 20px 
  #profilePhotoEdit
    /* Height of md-display-3 */
    height: 100px
    width: 100px
    border-radius: 50%

#addFoodDiv
  md-card
    padding: 20px
    transition: all 1s ease
  md-card:hover
    /* TODO fix the color and possibly the onclick border */
    background-color: $alertColor
  color: $primaryColor
  md-icon
    color: $primaryColor
    font-weight: bold
    height: 40px
    font-size: 40px
