/* variables */
/* Try to mostly use Angular-Material for coloring though */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}
#nonNavContainer {
  padding-top: 50px;
  width: 80%;
  margin: auto;
}
/******************************** TOP NAV BAR ********************************/
/* NOTE a few of these attributes can be encapsulated in a header elements class */
md-toolbar {
  height: 50px;
  min-height: 50px;
  background-color: #00b36f !important;
/* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
md-toolbar #brand-logo {
  height: 30px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
md-toolbar .topOptions {
  display: inline-block;
  width: 200px;
}
md-toolbar button {
  cursor: pointer;
  height: $navButtonSize;
  width: $navButtonSize;
  margin: 10px;
  color: #fff;
  border-radius: 0 !important;
}
md-toolbar button md-icon.material-icons {
  height: 30px;
  width: 30px;
  font-size: 30px;
}
md-toolbar button:hover md-icon.material-icons {
  color: #fca345;
}
md-toolbar #navDropdown {
  margin: auto;
  margin-right: 20px;
}
md-toolbar #navDropdown .md-menu button {
/* Doesn't seem to work with md-open */
  cursor: pointer;
}
/* The menu content shows up outside the nav */
md-menu-content .material-icons {
  width: auto;
}
/******************************** SIDE NAV BAR ********************************/
md-sidenav {
  position: fixed;
/* This ensures that the sidenav doesn't overlap the topnav shadow */
  top: 65px !important;
  background-color: #f2f2f2;
  transition: all 0.25s ease-in;
  width: 225px;
}
md-sidenav .sidenavMenu {
  width: 100%;
  margin: 0;
  text-align: left;
  text-transform: none;
}
md-sidenav .childElement {
  width: 80%;
  margin-left: 10%;
}
.md-sidenav-backdrop {
  height: 0px;
  width: 0px;
}
/******************************** STORES VIEW ********************************/
/* Hacky workaround to make flexbox images scale correctly */
/* Allegedly adding flex="none" on a child may work, I haven't seen success */
/* TODO should probably prohibit strangely sized images (far away from 50-50) */
#storesContainer * {
  min-height: 0;
  min-width: 0;
}
#storesContainer {
  overflow-x: hidden;
  background-color: #f2f2f2;
/* SLICK STUFF */
/* NOTE not so sure I like the buttons changing position with the image swaps 
      I guess it is the best way to do it though */
/* TODO might want dots div so uniform padding if only one image */
}
#storesContainer md-card-title {
  padding-top: 0;
}
#storesContainer md-card-title .md-headline {
  cursor: pointer;
}
#storesContainer slick .slick-arrow {
  z-index: 1;
}
#storesContainer slick .slick-arrow:before {
  font-size: 40px;
}
#storesContainer slick .slick-arrow.slick-prev {
  left: 0;
}
#storesContainer slick .slick-arrow.slick-next {
  right: 20px;
}
#storesContainer slick .slick-arrow.slick-prev:before,
#storesContainer slick .slick-arrow.slick-next:before {
  opacity: 0.75;
}
#storesContainer slick .slick-arrow.slick-prev:focus:before,
#storesContainer slick .slick-arrow.slick-next:focus:before {
  opacity: 0.75;
}
#storesContainer slick .slick-arrow.slick-prev:hover:before,
#storesContainer slick .slick-arrow.slick-next:hover:before {
  opacity: 1;
  color: #fca345;
}
#storesContainer slick .foodImageInfo {
  padding: 5px;
  display: block;
  background: rgba(0,0,0,0.3);
  position: absolute;
  width: inherit;
}
#storesContainer slick .foodImageInfo .foodPrice {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 4px;
}
#storesContainer slick .foodImageInfo .foodRating {
  float: right;
}
#storesContainer slick .foodImageInfo .foodRating .star {
  color: #ea6e10;
}
#storesContainer slick .foodImageInfo .foodRating .star md-icon {
  color: #fca345;
}
/******************************** STORE FRONT ********************************/
/* 
    NOTE this is mostly repeated from the stores-view slick
    The foodImageInfo logic didn't recycle very well though
    Should condense this logic later
*/
store-front slick * {
  min-height: 0;
  min-width: 0;
}
store-front slick .slick-prev:before,
store-front slick .slick-next:before {
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  color: #00d484;
  font-size: 40px;
}
store-front slick .slick-prev,
store-front slick .slick-next {
  z-index: 1;
}
store-front slick .slick-prev:before {
  content: "chevron_left";
}
store-front slick .slick-next:before {
  content: "chevron_right";
}
store-front slick .slick-prev {
  left: 0px;
}
store-front slick .slick-next {
  right: 0px;
}
store-front slick .slick-slide {
  transform: scale(0.6);
  transition: all 0.5s;
}
store-front slick .slick-slide md-card-actions {
  display: none;
}
store-front slick .slick-center {
  transform: scale(1);
}
store-front slick .slick-center md-card-actions {
  display: flex;
/* Transitions don't seem to be working for this */
}
store-front slick .slick-center md-bottom-sheet {
  margin: 8px 8px 88px 8px;
}
.importantFixedDiv {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
/* Override default hover behaviour */
}
.importantFixedDiv .importantFixedButton {
  background-color: #ea6e10;
}
.importantFixedDiv .importantFixedButton:hover {
  background-color: #ea6e10;
}
#titleDiv {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#titleDiv #titleRow {
  padding: 10px;
}
#titleDiv img {
/* Height of md-display-3 */
  height: 56px;
  border-radius: 50%;
}
#titleDiv #storeTitle {
  display: inline-block;
}
#titleDiv #titleStars {
/* If I want the stars to lie low on the line */
/* Height of md-display-3 */
  padding-top: 20px;
}
#titleDiv #titleStars .star {
  color: #ea6e10;
/* NOTE for whatever reason, this adds an overflow-x to the body */
  font-size: 36px;
  height: 36px;
  width: 36px;
}
#titleDiv .underline {
  height: 5px;
  background-color: #00b36f;
}
/* TODO change the current buttons so that they are large chevrons */
.foodImageInfo {
  padding: 5px;
  background: rgba(0,0,0,0.3);
  margin-bottom: -34px;
  z-index: 1;
}
.foodImageInfo .foodPrice {
  color: #fff;
  font-weight: bold;
}
.foodImageInfo .star {
  color: #ea6e10;
}
#descriptionPanel {
  margin-top: 50px;
  margin-bottom: 50px;
}
#descriptionPanel #storeDescription {
  margin-left: 5%;
  width: 100%;
}
/* Styling for the toast */
md-card md-toast.md-bottom {
  bottom: 50px;
  text-align: center;
}
#storeReviews .altCard {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  margin: 10px;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#storeReviews .altCard .profilePhotoDiv {
  vertical-align: top;
  width: 10%;
  display: inline-block;
}
#storeReviews .altCard .profilePhotoDiv .profilePhoto {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
#storeReviews .altCard .reviewStars .star {
  color: #ea6e10;
}
#storeReviews .altCard .reviewContentContainer {
  display: inline-block;
  width: 85%;
}
#storeReviews .altCard .reviewContentContainer .reviewComment {
  font-weight: 100;
  margin-top: 10px;
}
/******************************** STORE EDIT ********************************/
/* TODO some (or most) of this can be condensed with the storefront */
#imageCropDialog {
  min-height: 500px;
  min-width: 350px;
}
#imageCropDialog #imageFileEntry {
  margin-top: 10px;
  margin-bottom: 10px;
}
#imageCropDialog .cropArea {
  background: #e4e4e4;
  overflow: hidden;
  width: 500px;
  height: 350px;
  margin: auto;
}
/* TODO should I do this? 
        Then if they enter a bunch the info gets 'lost' due to no scroll
#storeDescriptionEdit
  max-height: 150px
*/
/* Overridde the margins and whatnot of the address entry input */
#addressEditContainer {
  margin-bottom: 0px;
}
#addressEdit {
  margin-bottom: -24px;
}
#addressEdit.ng-invalid {
  margin-bottom: 0px;
}
/* Override the autocomplete addition of a placeholder */
#addressEdit::-webkit-input-placeholder {
/* Chrome/Opera/Safari */
  opacity: 0;
}
#addressEdit::-moz-placeholder {
/* Firefox 19+ */
  opacity: 0;
}
#addressEdit:-ms-input-placeholder {
/* IE 10+ */
  opacity: 0;
}
#addressEdit:-moz-placeholder {
/* Firefox 18- */
  opacity: 0;
}
#storeHours md-input-container {
  margin-top: 3px;
}
.editCard {
  padding: 20px 20px 0px 20px;
}
.editCard #profilePhotoEdit {
/* Height of md-display-3 */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 10%;
}
.editCard #nonMapDiv {
  padding-right: 30px;
}
#addFoodDiv {
  color: #00b36f;
}
#addFoodDiv md-card {
  padding: 20px;
  transition: all 1s ease;
}
#addFoodDiv md-card:hover {
/* TODO fix the color and possibly the onclick border */
  background-color: #ea6e10;
}
#addFoodDiv md-icon {
  color: #00b36f;
  font-weight: bold;
  height: 40px;
  font-size: 40px;
}
#foodPriceContainer {
  width: 60px;
}
