/* variables */
/* Try to mostly use Angular-Material for coloring though */
$primaryColor = #00B36F
$secondaryColor = #FCA345
$alertColor = #EA6E10
$linkColor = #00B7FF
$backgroundColor = #F2F2F2


$headerHeight = 50px
$sideNavWidth = 225px

html, body
  padding: 0
  margin: 0
  height: 100%
  width: 100%
  background-color: $backgroundColor


#nonNavContainer
  padding-top: $headerHeight
  transition: all 0.1s ease-in
  width: 80%
  margin: auto
#nonNavContainer.sideNavOpen
  padding-left: $sideNavWidth
  transition: all 0.15s ease-in


/******************************** TOP NAV BAR ********************************/
/* NOTE a few of these attributes can be encapsulated in a header elements class */
$componentSize = 30px
$marginSpace = 10px
md-toolbar
  height: $headerHeight
  min-height: $headerHeight

  background-color: $primaryColor !important

  /* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  #brand-logo
    height: $componentSize
    width: auto
    margin-top: auto
    margin-bottom: auto
    margin-left: 20px

  .topOptions
    display: inline-block
    width: 200px

  button
    cursor: pointer
    height: $navButtonSize
    width: $navButtonSize
    margin: 10px     
    color: #FFFFFF
    border-radius: 0 !important

    md-icon.material-icons
      height: $componentSize
      width: $componentSize
      font-size: $componentSize

  button:hover
    md-icon.material-icons
      color: $secondaryColor

  #username
    margin: auto
    margin-right:20px

  #cartButton
    /* hmm... I don't know if I like this... */
    margin-right: 10px


/******************************** SIDE NAV BAR ********************************/
md-sidenav
  position: fixed
  /* This ensures that the sidenav doesn't overlap the topnav shadow */
  top: $headerHeight + 15 !important
  background-color: $backgroundColor
  transition: all 0.25s ease-in
  width: $sideNavWidth
  
  .sidenavMenu
    width: 100%
    margin: 0
    text-align: left
    text-transform: none
  .childElement
    width: 80%
    margin-left: 10%


.md-sidenav-backdrop
  height: 0px
  width: 0px





/******************************** STORES VIEW ********************************/
/* Hacky workaround to make flexbox images scale correctly */
/* Allegedly adding flex="none" on a child may work, I haven't seen success */
/* TODO should probably prohibit strangely sized images (far away from 50-50) */
#storesContainer *
  min-height: 0
  min-width: 0

#storesContainer
  overflow-x: hidden
  background-color: $backgroundColor
  md-card-title
    padding-top: 0
    .md-headline
      cursor: pointer

  /* SLICK STUFF */
  /* NOTE not so sure I like the buttons changing position with the image swaps 
      I guess it is the best way to do it though */
  /* TODO might want dots div so uniform padding if only one image */
  slick
    .slick-arrow
      z-index: 1
    .slick-arrow:before
      font-size: 40px
    .slick-arrow.slick-prev
      left: 0
    .slick-arrow.slick-next
      right: 20px
    .slick-arrow.slick-prev:before, .slick-arrow.slick-next:before
      opacity: 0.75
    .slick-arrow.slick-prev:focus:before, .slick-arrow.slick-next:focus:before
      opacity: 0.75
    .slick-arrow.slick-prev:hover:before, .slick-arrow.slick-next:hover:before
      opacity: 1
      color: $secondaryColor 

    .foodImageInfo
      display: block
      background: rgba(0,0,0,0.3)
      position: absolute;
      width: inherit

      .foodPrice
        display: inline-block
        color: #FFFFFF
        padding: 10px
        font-weight: bold

      .foodRating
        float: right;
        .star 
          padding: 0
          margin: 0

          md-icon
            color: $secondaryColor


/******************************** STORE FRONT ********************************/
store-front
  #titleDiv
    width: 80%
    margin-left: auto
    margin-right: auto

    #titleRow
      padding: 10px

    img
      /* Height of md-display-3 */
      height: 56px
      border-radius: 50%

    #storeTitle
      display:inline-block

    #titleStars
      /* If I want the stars to lie low on the line */
      /* Height of md-display-3 */
      padding-top: 56px 

    .underline
      height: 5px;
      background-color: $primaryColor

