/* variables */
/* Try to mostly use Angular-Material for coloring though */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}
/* NOTE this could use some work if I find myself with nothing to do */
#nonNavContainer {
  padding-top: 50px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}
#nonNavContainer.sideNavOpen {
  padding-left: 225px;
  transition: all 0.15s ease-in;
}
/******************************** TOP NAV BAR ********************************/
/* NOTE a few of these attributes can be encapsulated in a header elements class */
md-toolbar {
  height: 50px;
  min-height: 50px;
  background-color: #00b36f !important;
/* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
md-toolbar #brand-logo {
  height: 30px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
md-toolbar button {
  cursor: pointer;
  height: $navButtonSize;
  width: $navButtonSize;
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  border-radius: 0 !important;
}
md-toolbar button md-icon.material-icons {
  height: 30px;
  width: 30px;
  font-size: 30px;
}
md-toolbar button:hover md-icon.material-icons {
  color: #fca345;
}
md-toolbar #username {
  margin: auto;
  margin-right: 20px;
}
md-toolbar #cartButton {
/* hmm... I don't know if I like this... */
  margin-right: 10px;
}
/******************************** SIDE NAV BAR ********************************/
md-sidenav {
  position: fixed;
/* This ensures that the sidenav doesn't overlap the topnav shadow */
  top: 65px !important;
  background-color: #f2f2f2;
  transition: all 0.25s ease-in;
  width: 225px;
}
.md-sidenav-backdrop {
  height: 0px;
  width: 0px;
}
/******************************** STORES VIEW ********************************/
/* Hacky workaround to make flexbox images scale correctly */
/* Allegedly adding flex="none" on a child may work, I haven't seen success */
/* TODO should probably prohibit strangely sized images (far away from 50-50) */
#storesContainer * {
  min-height: 0;
  min-width: 0;
}
#storesContainer {
  overflow-x: hidden;
  background-color: #f2f2f2;
/* NOTE not so sure I like the buttons changing position with the image swaps */
/* SLICK STUFF */
}
#storesContainer md-card-title {
  padding-top: 0;
}
#storesContainer slick .slick-arrow {
  z-index: 1;
}
#storesContainer slick .slick-arrow:before {
  font-size: 40px;
}
#storesContainer slick .slick-arrow.slick-prev {
  left: 0;
}
#storesContainer slick .slick-arrow.slick-next {
  right: 20px;
}
#storesContainer slick .slick-arrow.slick-prev:before,
#storesContainer slick .slick-arrow.slick-next:before {
  opacity: 0.75;
}
#storesContainer slick .slick-arrow.slick-prev:focus:before,
#storesContainer slick .slick-arrow.slick-next:focus:before {
  opacity: 0.75;
}
#storesContainer slick .slick-arrow.slick-prev:hover:before,
#storesContainer slick .slick-arrow.slick-next:hover:before {
  opacity: 1;
  color: #fca345;
}
#storesContainer slick .foodImageInfo {
  display: inline-block;
  background: rgba(0,0,0,0.3);
  position: absolute;
  width: inherit;
}
#storesContainer slick .foodImageInfo .foodPrice {
  display: inline-block;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
#storesContainer slick .foodImageInfo .foodRating {
  float: right;
}
#storesContainer slick .foodImageInfo .foodRating .star {
  padding: 0;
  margin: 0;
}
#storesContainer slick .foodImageInfo .foodRating .star md-icon {
  color: #fca345;
}
