/* variables */
/* Try to mostly use Angular-Material for coloring though */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}
#nonNavContainer {
  padding-top: 50px;
  width: 80%;
  margin: auto;
}
/******************************** TOP NAV BAR ********************************/
/* NOTE a few of these attributes can be encapsulated in a header elements class */
md-toolbar {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  min-height: 50px;
  background-color: #00b36f !important;
/* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
md-toolbar #brandLogoButton {
  margin-left: 20px;
}
md-toolbar #brandLogo {
  height: 30px;
  width: auto;
}
md-toolbar .topOptions {
  display: inline-block;
  width: 200px;
}
md-toolbar button {
  cursor: pointer;
  height: $navButtonSize;
  width: $navButtonSize;
  margin: 10px;
  color: #fff;
  border-radius: 0 !important;
}
md-toolbar button md-icon.material-icons {
  height: 30px;
  width: 30px;
  font-size: 30px;
}
md-toolbar button:hover md-icon.material-icons {
  color: #fca345;
}
md-toolbar #navDropdown {
  margin: auto;
  margin-right: 20px;
}
md-toolbar #navDropdown .md-menu button {
/* Doesn't seem to work with md-open */
  cursor: pointer;
}
md-toolbar #nonUserNavButtons {
  margin-left: auto;
  margin-right: 20px;
}
#topBar {
  z-index: 72;
}
/* The menu content shows up outside the nav */
md-menu-content .material-icons {
  width: auto;
}
/******************************** CART ********************************/
#cart .storeTitle {
  cursor: pointer;
}
#cart .storeTitle .md-subheader-inner {
  padding: 8px 0px 8px 16px;
}
#cart .storeTitle:hover {
  color: #00b7ff;
}
#cart md-dialog-content {
  padding: 20px;
}
#cart md-list-item {
  padding-left: 0px;
}
#cart .changeQty {
  padding: 2px;
}
#cart #cartEmpty {
  padding: 30px 50px 30px 50px;
}
/************************* STRIPE REDIRECTION DIALOG *************************/
#stripeRedirDialog {
  max-width: 600px;
}
#stripeRedirDialog md-dialog-content {
  padding: 20px;
}
#stripeRedirDialog md-dialog-content #poweredByStripe {
  height: 70px;
}
#stripeRedirDialog md-dialog-content #stripeRedirButton img {
  height: 40px;
  background-color: rgba(0,0,0,0.24);
}
#stripeRedirDialog md-dialog-content #stripeRedirButton img:hover {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 10px 0 rgba(0,0,0,0.19);
}
/******************************** SIDE NAV BAR ********************************/
md-sidenav {
  position: fixed;
/* This ensures that the sidenav doesn't overlap the topnav shadow */
  top: 65px !important;
  background-color: #f2f2f2;
  transition: all 0.25s ease-in;
  width: 225px;
}
md-sidenav .sidenavMenu {
  width: 100%;
  margin: 0;
  text-align: left;
  text-transform: none;
}
md-sidenav .childElement {
  width: 80%;
  margin-left: 10%;
}
.md-sidenav-backdrop {
  height: 0px;
  width: 0px;
}
/******************************* SLICK STUFF ********************************/
/* NOTE might want dots div so uniform padding if only one image */
slick .slick-prev:before,
slick .slick-next:before {
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  color: #000;
  font-size: 40px;
}
slick .slick-prev,
slick .slick-next {
  z-index: 1;
}
slick .slick-prev:before {
  content: "chevron_left";
}
slick .slick-next:before {
  content: "chevron_right";
}
slick .slick-arrow.slick-prev {
  left: 0;
}
slick .slick-arrow.slick-next {
  right: 20px;
}
slick .slick-arrow.slick-prev:before,
slick .slick-arrow.slick-next:before {
  opacity: 0;
}
slick .slick-arrow.slick-prev:focus:before,
slick .slick-arrow.slick-next:focus:before {
  opacity: 0;
}
slick .slick-arrow.slick-prev:hover:before,
slick .slick-arrow.slick-next:hover:before {
  opacity: 1;
  color: #00b36f;
}
slick .slick-dots .slick-active button:before {
  color: #00b36f;
}
/* Arrow Hovering Styling */
slick:hover .slick-arrow.slick-prev:before,
slick:hover .slick-arrow.slick-next:before {
  opacity: 1;
}
/******************************** STORES VIEW ********************************/
/* Hacky workaround to make flexbox images scale correctly */
/* Allegedly adding flex="none" on a child may work, I haven't seen success */
#storesContainer * {
  min-height: 0;
  min-width: 0;
}
#storesContainer {
  overflow-x: hidden;
  background-color: #f2f2f2;
  padding: 16px 0px 16px 0px;
}
#storesContainer md-card {
  max-width: 450px;
}
#storesContainer md-card md-card-title {
  padding-top: 0;
}
#storesContainer md-card md-card-title .md-headline {
  cursor: pointer;
}
#storesContainer md-card .foodImageInfo {
  padding: 5px;
  display: block;
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: inherit;
}
#storesContainer md-card .foodImageInfo .foodPrice {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 4px;
}
#storesContainer md-card .foodImageInfo .foodRating {
  float: right;
}
#storesContainer md-card .foodImageInfo .foodRating .star {
  color: #ea6e10;
}
#storesContainer md-card .foodImageInfo .foodRating .star md-icon {
  color: #fca345;
}
#storesContainer md-card md-card-content {
  padding-top: 0px;
/* Padding in case there are no slick dots */
}
#storesContainer md-card md-card-content .slickPadding {
  width: 100%;
  height: 24px;
}
#storesContainer md-card md-card-content .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: -20px;
}
#storesContainer md-card md-card-content .headlineContent {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 5px;
}
#storesContainer md-card md-card-content .headlineContent:hover {
  text-decoration: underline;
}
#storesContainer md-card md-card-content .subContent {
  font-size: 14px;
  font-weight: 600;
  color: #777;
  margin-left: -5px;
}
/******************************** FOOD CARD **********************************/
food-card md-card {
  position: relative;
  margin-bottom: 0;
/* HACK Display the bottom sheet appropriately */
/* Styling for the toast */
}
food-card md-card .foodImageInfo {
  padding: 5px;
  background: rgba(0,0,0,0.3);
  margin-bottom: -29px;
  z-index: 1;
}
food-card md-card md-card-actions {
  z-index: 71;
  margin: 0;
  margin-bottom: 2px;
  padding: 8px;
  background-color: #fff;
}
food-card md-card md-bottom-sheet {
  margin-bottom: 90px;
}
food-card md-card md-bottom-sheet #foodPrice {
  padding-top: 10px;
  font-style: italic;
}
food-card md-card md-backdrop {
  margin-bottom: 2px;
}
food-card md-card md-toast.md-bottom {
  bottom: 50px;
  text-align: center;
}
food-card md-card .foodPrice {
  color: #fff;
  font-weight: bold;
}
/******************************** STORE FRONT ********************************/
store-front slick .slick-arrow.slick-prev:before,
store-front slick .slick-arrow.slick-next:before {
  opacity: 1;
}
store-front slick .slick-arrow.slick-prev:focus:before,
store-front slick .slick-arrow.slick-next:focus:before {
  opacity: 1;
}
store-front slick .slick-slide {
  transform: scale(0.6);
  transition: all 0.5s;
}
store-front slick .slick-slide md-card-actions {
  display: none;
}
store-front slick .slick-center {
  transform: scale(1);
}
store-front slick .slick-center md-card-actions {
  display: flex;
}
store-front #titleDiv {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
/* Will center the storeTitle in absence of reviews */
}
@media screen and (max-width: 960px) {
  store-front #titleDiv {
    width: 100%;
  }
}
store-front #titleDiv #titleRow {
  padding: 10px;
}
store-front #titleDiv img {
/* Height of md-display-3 */
  height: 56px;
  border-radius: 50%;
}
store-front #titleDiv #storeTitle {
  display: inline-block;
}
@media screen and (max-width: 960px) {
  store-front #titleDiv #storeTitle {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (max-width: 700px) {
  store-front #titleDiv #storeTitle {
    font-size: 24px;
    line-height: 24px;
  }
}
store-front #titleDiv #starPlaceholder {
  width: 56px;
}
store-front #titleDiv .underline {
  height: 5px;
  background-color: #00b36f;
}
store-front #descriptionPanel {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 960px) {
  store-front #descriptionPanel {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
  }
}
store-front #descriptionPanel #storeDescription {
  padding-right: 2%;
}
#storeReviews .altCard {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  margin: 10px;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#storeReviews .altCard .profilePhotoDiv {
  vertical-align: top;
  width: 10%;
  display: inline-block;
}
#storeReviews .altCard .profilePhotoDiv .profilePhoto {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
#storeReviews .altCard .reviewStars .star {
  color: #ea6e10;
}
#storeReviews .altCard .reviewContentContainer {
  display: inline-block;
  width: 85%;
}
#storeReviews .altCard .reviewContentContainer .reviewComment {
  font-weight: 100;
  margin-top: 10px;
}
.importantFixedDiv {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
/* Override default hover behaviour */
}
.importantFixedDiv .importantFixedButton {
  background-color: #ea6e10;
}
.importantFixedDiv .importantFixedButton:hover {
  background-color: #ea6e10;
}
/******************************** STORE EDIT ********************************/
/* TODO some (or most) of this can be condensed with the storefront */
#imageCropDialog {
  min-height: 500px;
  min-width: 350px;
}
#imageCropDialog #imageFileEntry {
  text-align: center;
  padding: 10px;
}
#imageCropDialog .cropArea {
  background: #e4e4e4;
  overflow: hidden;
  width: 500px;
  height: 350px;
  margin: auto;
}
/* TODO should I do this? 
        Then if they enter a bunch the info gets 'lost' due to no scroll
#storeDescriptionEdit
  max-height: 150px
*/
/* Overridde the margins and whatnot of the address entry input */
#addressEditContainer {
  margin-bottom: 0px;
}
#addressEdit {
  margin-bottom: -24px;
}
#addressEdit.ng-invalid {
  margin-bottom: 0px;
}
/* Override the autocomplete addition of a placeholder */
#addressEdit::-webkit-input-placeholder {
/* Chrome/Opera/Safari */
  opacity: 0;
}
#addressEdit::-moz-placeholder {
/* Firefox 19+ */
  opacity: 0;
}
#addressEdit:-ms-input-placeholder {
/* IE 10+ */
  opacity: 0;
}
#addressEdit:-moz-placeholder {
/* Firefox 18- */
  opacity: 0;
}
#storeHours md-input-container {
  margin-top: 3px;
}
.editCard #profilePhotoEdit {
/* Height of md-display-3 */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 10%;
  cursor: pointer;
}
.editCard #nonMapDiv {
  padding-right: 30px;
}
#infoEditDiv .editCard {
  padding: 20px;
}
.foodEditDiv .editCard {
  padding: 20px 20px 0px 20px;
}
.foodEditDiv .foodPriceContainer {
  width: 60px;
}
.foodEditDiv .foodPreview {
  background-color: #f2f2f2;
  padding: 5px 5px 10px 5px;
}
#addFoodDiv {
  color: #00b36f;
}
#addFoodDiv md-card {
  padding: 20px;
  transition: all 1s ease;
}
#addFoodDiv md-card:hover {
/* TODO fix the color and possibly the onclick border */
  background-color: #ea6e10;
}
#addFoodDiv md-icon {
  color: #00b36f;
  font-weight: bold;
  height: 40px;
  font-size: 40px;
}
