/* variables */
/* Try to mostly use Angular-Material for coloring though */
$primaryColor = #00B36F
$secondaryColor = #FCA345
$alertColor = #EA6E10
$linkColor = #00B7FF
$backgroundColor = #F2F2F2
$starColor = $alertColor


$headerHeight = 50px
$sideNavWidth = 225px

html, body
  padding: 0
  margin: 0
  height: 100%
  width: 100%
  background-color: $backgroundColor


#nonNavContainer
  padding-top: $headerHeight
  width: 80%
  margin: auto

/******************************** TOP NAV BAR ********************************/
/* NOTE a few of these attributes can be encapsulated in a header elements class */
$componentSize = 30px
$marginSpace = 10px
md-toolbar
  padding-left: 20px
  padding-right: 20px
  height: $headerHeight
  min-height: $headerHeight

  background-color: $primaryColor !important

  /* Make text unselectable */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;

  #brandLogoButton
    margin-left: 20px
  #brandLogo
    height: $componentSize
    width: auto

  .topOptions
    display: inline-block
    width: 200px

  button
    cursor: pointer
    height: $navButtonSize
    width: $navButtonSize
    margin: 10px     
    color: #FFFFFF
    border-radius: 0 !important

    md-icon.material-icons
      height: $componentSize
      width: $componentSize
      font-size: $componentSize

  button:hover
    md-icon.material-icons
      color: $secondaryColor

  #navDropdown
    margin: auto
    margin-right:20px
    .md-menu
      button
        /* Doesn't seem to work with md-open */
        cursor: pointer

  #nonUserNavButtons
    margin-left: auto
    margin-right: 20px

#topBar
  z-index: 72
        
    

/* The menu content shows up outside the nav */
md-menu-content
  .material-icons
    width: auto


/******************************** CART ********************************/
#cart
  .storeTitle
    .md-subheader-inner
      padding: 8px 0px 8px 16px
      .md-subheader-content
        span
          cursor: pointer
        span:hover
          color: $linkColor
  md-dialog-content
    padding: 20px
  md-list-item
    padding-left: 0px
  .changeQty 
    padding: 2px

  #cartEmpty
    padding: 30px 50px 30px 50px

/************************* STRIPE REDIRECTION DIALOG *************************/
#stripeRedirDialog
  max-width: 600px
  md-dialog-content
    padding: 20px
    #poweredByStripe
      height: 70px
    #stripeRedirButton
      img
        height: 40px
        background-color: rgba(0,0,0,0.24)
      img:hover
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 10px 0 rgba(0,0,0,0.19);


/******************************** SIDE NAV BAR ********************************/
md-sidenav
  position: fixed
  /* This ensures that the sidenav doesn't overlap the topnav shadow */
  top: $headerHeight + 15 !important
  background-color: $backgroundColor
  transition: all 0.25s ease-in
  width: $sideNavWidth
  
  .sidenavMenu
    width: 100%
    margin: 0
    text-align: left
    text-transform: none
  .childElement
    width: 80%
    margin-left: 10%


.md-sidenav-backdrop
  height: 0px
  width: 0px


/******************************* SLICK STUFF ********************************/
/* NOTE might want dots div so uniform padding if only one image */

slick
  /* arrow styling */
  .slick-prev:before, .slick-next:before
    font-family: 'Material Icons'
    -webkit-font-feature-settings: 'liga'
    color: #000000
    font-size: 40px
  .slick-prev, .slick-next
    z-index: 1
  .slick-prev:before
    content: "chevron_left"
  .slick-next:before
    content: "chevron_right"
  .slick-arrow.slick-prev
    left: 0
  .slick-arrow.slick-next
    right: 20px
  .slick-arrow.slick-prev:before, .slick-arrow.slick-next:before
    opacity: 0
  .slick-arrow.slick-prev:focus:before, .slick-arrow.slick-next:focus:before
    opacity: 0
  .slick-arrow.slick-prev:hover:before, .slick-arrow.slick-next:hover:before
    opacity: 1
    color: $primaryColor 

  /* Dots styling */
  .slick-dots
    .slick-active
      button:before
        color: $primaryColor

/* Arrow Hovering Styling */
slick:hover
  .slick-arrow.slick-prev:before, .slick-arrow.slick-next:before
    opacity: 1




/******************************** FOODS VIEW ********************************/
/* Hacky workaround to make flexbox images scale correctly */
/* Allegedly adding flex="none" on a child may work, I haven't seen success */
#foodsContainer
  display: flex !important
  overflow-x: hidden
  overflow-y: hidden
  background-color: $backgroundColor
  padding: 16px 0px 16px 0px
  md-card
    max-width: 450px
    md-card-title
      padding-top: 0
      .md-headline
        cursor: pointer

    .foodImageInfo
      padding: 5px
      display: block
      background: rgba(0,0,0,0.5)
      position: absolute
      width: inherit

      .foodPrice
        display: inline-block
        color: #FFFFFF
        font-weight: bold
        padding: 4px

      .foodRating
        float: right;
        .star 
          color: $starColor
          md-icon
            color: $secondaryColor

    .md-card-image
      cursor: pointer

    md-card-content
      padding-top: 0px
      /* Padding in case there are no slick dots */
      .slickPadding
        width: 100%
        height: 24px
      .avatar
        height: 50px
        width: 50px
        border-radius: 50%
        margin-top: -20px
        cursor: pointer
      .headlineContent
        font-size: 24px
        font-weight: 600
        cursor: pointer
        margin-left: 5px
      .headlineContent:hover
        text-decoration: underline
      .subContent
        font-size: 14px
        font-weight: 600
        color: #777777
        margin-left: -5px
        /* probably won't trigger and will probably overflow the card anyways */
        overflow: hidden
        text-overflow: ellipsis


/******************************** FOOD CARD **********************************/
food-card
  md-card
    position: relative
    margin-bottom: 0
    .foodImageInfo
      padding: 5px
      background: rgba(0,0,0,0.3)
      margin-bottom: -29px 
      z-index: 1
    md-card-content
      padding: 10px
      margin-top: 5px
      .avatar
        border: 3px solid #FFFFFF
      button
        .material-icons
          height: 50px
          width: 50px
          line-height: 50px
          font-size: 50px
          color: #444444
    md-card-actions
      z-index: 71
      margin: 0
      margin-bottom: 2px
      padding: 8px
      background-color: #FFFFFF
    /* HACK Display the bottom sheet appropriately */
    md-bottom-sheet
      margin-bottom: 82px
      #foodPrice
        padding-top: 10px
        font-style: italic
    md-backdrop
      margin-bottom: 2px
    /* Styling for the toast */
    md-toast.md-bottom
      bottom: 50px
      text-align: center

    .foodPrice
      color: #FFFFFF
      font-weight: bold




/******************************** STORE FRONT ********************************/
store-front
  slick
    .slick-arrow.slick-prev:before, .slick-arrow.slick-next:before
      opacity: 1
    .slick-arrow.slick-prev:focus:before, .slick-arrow.slick-next:focus:before
      opacity: 1
    /* Make the center slide larger */
    .slick-slide
      transform: scale(0.6)
      transition: all 0.5s
      md-card-actions
        display:none
    .slick-center
      transform: scale(1)
      md-card-actions
        display: flex

  #titleDiv
    margin-top: 20px
    width: 80%
    margin-left: auto
    margin-right: auto
    @media screen and (max-width: 960px)
      width: 100%

    #titleRow
      padding: 10px

    img
      /* Height of md-display-3 */
      height: 56px
      border-radius: 50%

    #storeTitle
      display:inline-block
      @media screen and (max-width: 960px)
        font-size: 30px
        line-height: 30px
      @media screen and (max-width: 700px)
        font-size: 24px
        line-height: 24px

    /* Will center the storeTitle in absence of reviews */
    #starPlaceholder
      width: 56px

    .underline
      height: 5px;
      background-color: $primaryColor

    #storeDescription
      padding: 5px 20px 20px 20px
      font-weight: 600
      color: #777



  

#storeReviews
  .altCard
    background-color: #FFFFFF
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)
    margin: 10px
    padding: 10px
    width: 80%
    margin-left: auto
    margin-right: auto

    .profilePhotoDiv
      vertical-align: top
      width: 10%
      display: inline-block
      .profilePhoto
        border-radius: 50%
        height: 48px;
        width: 48px;
    .reviewStars .star
      color: $starColor

    .reviewContentContainer
      display: inline-block;
      width: 85%
      .reviewComment
        font-weight: 100
        margin-top: 10px


.importantFixedDiv
  position: fixed
  bottom: 10px
  right: 10px
  z-index: 10
  .importantFixedButton
    background-color: $alertColor
  /* Override default hover behaviour */
  .importantFixedButton:hover
    background-color: $alertColor




/******************************** STORE EDIT ********************************/
/* TODO some (or most) of this can be condensed with the storefront */
#imageCropDialog
  min-height: 500px
  min-width: 350px
  #imageFileEntry
    text-align: center
    padding: 10px
  .cropArea 
    background: #E4E4E4
    overflow: hidden
    width:500px
    height:350px
    margin: auto

/* TODO should I do this? 
        Then if they enter a bunch the info gets 'lost' due to no scroll
#storeDescriptionEdit
  max-height: 150px
*/

/* Overridde the margins and whatnot of the address entry input */
#addressEditContainer
  margin-bottom: 0px
#addressEdit
  margin-bottom:-24px
#addressEdit.ng-invalid
  margin-bottom: 0px

/* Override the autocomplete addition of a placeholder */
#addressEdit::-webkit-input-placeholder 
  /* Chrome/Opera/Safari */
  opacity: 0
#addressEdit::-moz-placeholder 
  /* Firefox 19+ */
  opacity: 0
#addressEdit:-ms-input-placeholder 
  /* IE 10+ */
  opacity: 0
#addressEdit:-moz-placeholder  
  /* Firefox 18- */
  opacity: 0

#storeHours
  md-input-container
    margin-top: 3px

.editCard
  #profilePhotoEdit
    /* Height of md-display-3 */
    height: 100px
    width: 100px
    border-radius: 50%
    margin-right: 10%
    cursor: pointer
  #nonMapDiv
    padding-right: 30px
#storeInfoEditDiv
  .editCard
    padding: 20px
.foodEditDiv
  .editCard
    padding: 20px 20px 0px 20px 

.foodEditDiv
  .foodPriceContainer
    width: 60px;
  .foodPreview
    background-color: $backgroundColor
    padding: 5px 5px 10px 5px


#addFoodDiv
  md-card
    padding: 20px
    transition: all 1s ease
  md-card:hover
    /* TODO fix the color and possibly the onclick border */
    background-color: $alertColor
  color: $primaryColor
  md-icon
    color: $primaryColor
    font-weight: bold
    height: 40px
    font-size: 40px



