<div class="importantFixedDiv" layout="column" ng-if="!checkEquality()">
  <md-button class="importantFixedButton" ng-click="saveChanges()"> 
    Save Changes
  </md-button>
  <md-button class="importantFixedButton" ng-click="resetChanges()"> 
    Undo Changes
  </md-button>
</div>

<span class="md-display-2"> User Information </span>
<div id="infoEditDiv">
  <form name="infoForm">
    <md-card class="editCard">
      <div class="innerEditDiv"> 
        <div  id="descriptionPanel" layout="row" layout-align-gt-sm="center center" 
              layout-xs="column" layout-sm="column">
          <div flex id="nonMapDiv">
            <div layout="row" layout-align="space-between center">
              <md-input-container class="md-block">
                <label class="md-title"> User Name </label>
                <input  type="text" name="displayName" ng-model="user.displayName" 
                        maxlength="30" md-maxlength="30" required />
                <div ng-messages="infoForm.displayName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <img  ng-if="user.profilePhoto" id="profilePhotoEdit" 
                    src="{{user.profilePhoto}}" alt="Profile Picture" 
                    ng-click="showConfirm($event, user.profilePhoto)"/>
              <img  ng-if="!user.profilePhoto" id="profilePhotoEdit" 
                    src="/images/user/default_profile.jpg" alt="Profile Picture" 
                    ng-click="showConfirm($event, user.profilePhoto)"/>
            </div>

            <md-input-container class="md-block">
              <label class='md-title'> User Description </label>
              <!-- TODO restrict from pressing "enter" a bunch... or at all -->
              <textarea class="descriptionEdit" name="description"
                        ng-model="user.description" md-maxlength="300" maxlength="300" 
                        required>
              </textarea>
              <div ng-messages="infoForm.description.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          
          <!-- TODO not sure if we need this -->
          <div flex>
            <md-input-container class="md-block" id="addressEditContainer">
              <label class="md-title"> Address </label>
              <input  id="addressEdit" places-auto-complete types="['geocode']" ng-model="user.address.formatted" 
                      on-place-changed="placeChanged()" name="address" required/>
              <div ng-messages="infoForm.address.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <ng-map center="{{user.address.lat}}, {{user.address.lng}}" zoom="14">
              <marker position="{{user.address.lat}}, {{user.address.lng}}" title="Store Location"></marker> 
            </ng-map>
          </div>
        </div>
      </div>

    </md-card>
  </form>
</div>
