<md-card>
  <div class="foodImageInfo" layout="row" layout-align="space-between center">
    <span class="foodPrice"> ${{food.price}} </span>
    <span class="foodRating foodPrice" align="right"> 
      {{food.name}}
    </span>
  </div>
  <img ng-src="{{food.photo}}" class="md-card-image" alt="Store Image">      
  

  <md-card-actions class="md-whiteframe-1dp" layout="row" layout-align="center center">
    <md-button flex="50" ng-click="showBottomSheet($event, food)">More Info</md-button>
    <md-button ng-disabled="isEdit()" flex="50" ng-click="addToCart($event, food)">Add to Cart</md-button>
  </md-card-actions>
</md-card>
