<md-card>
  <div class="foodImageInfo" layout="row" layout-align="space-between center">
    <span ng-if="scopedPage === 'view'" class="foodPrice"> ${{food.price}} </span>
    <span ng-if="scopedPage !== 'view'" class="foodPrice"> {{food.name}} </span>
    <span ng-if="scopedPage !== 'view'" class="foodRating foodPrice" align="right"> 
      ${{food.price}}
    </span>
  </div>
  <img  ng-if="food.photo" ng-src="{{food.photo}}" 
        class="md-card-image" alt="Food Image" ng-click="imageAction()">      
  <img  ng-if="!food.photo" ng-src="/images/user/default_food.jpg" 
        class="md-card-image" alt="Food Image" ng-click="imageAction()">

  <!-- WHAT if I remove the quotes from view ("scopedPage === view")
            It works opposite of this -->
  <md-card-content ng-if="scopedPage === 'view'">
    <div layout="row" layout-align="start center">
      <div>
        <img  class="avatar" ng-src="{{food.store.profilePhoto}}"
              ng-click="$ctrl.goToStore(food.store._id, -1)"/>
      </div>
      <div>
        <span class="headlineContent">{{food.name}}</span>
        <br>
        <div class="subContent"> 
          {{food.blurb}}
        </div>
      </div>
    </div>
  </md-card-content>

  

  <md-card-actions class="md-whiteframe-1dp" layout="row" layout-align="center center">
    <md-button flex="50" ng-click="showBottomSheet($event, food)">More Info</md-button>
    <md-button ng-disabled="isEdit()" flex="50" ng-click="addToCart($event, food)">Add to Cart</md-button>
  </md-card-actions>
</md-card>
