<span class="md-display-2"> Store Information </span>
<div id="storeInfoEditDiv">
  <md-card class="editCard">
    <div class="innerEditDiv"> 
      <div layout="row" layout-align="center center">
        <div flex=50>
          <span class="md-title"> Store Name: </span>
          <input type="text" ng-model="store.storeTitle" maxlength="25"/>
        </div>
        <div flex=50>
          <div layout="row" layout-align="start center">
            <div><span class='md-title'> Profile image: </span></div>
            <div>
              <img id="profilePhotoEdit" src="{{store.profilePhoto}}" alt="Profile Picture" ng-click="showConfirm($event)"/>
            </div>
          </div>
        </div>
      </div>
      <div id="descriptionPanel" layout="row" layout-align="center center" layout-xs="column" layout-sm="column">
        <!-- 
              TODO this might be too sparse to lay side by side with a map
              See if I can add more content to this
              Could add like a "most popular dish" or something
              Maybe I could even dynamically place it given the size of the description
        -->
        <div flex>
          <span class='md-title'> TODO HOURS?: </span>
          <br>
          <br>
          <span class='md-title'> Store Description: </span>
          <br>
          <div id="storeDescription">
            <textarea id="storeDescriptionEdit" type='textarea' ng-model="store.description">
            </textarea>
          </div>
          <br>
        </div>
        <!-- TODO maps... Will take care of this with address verification in one shot -->
        <div flex>
          <span class="md-title"> Pickup Address: </span>
          <input  id="addressEdit" places-auto-complete types="['geocode']" ng-model="store.pickupAddress.formatted" 
                  on-place-changed="placeChanged()" />
          <ng-map center="{{store.pickupAddress.lat}}, {{store.pickupAddress.lng}}" zoom="14">
            <marker position="{{store.pickupAddress.lat}}, {{store.pickupAddress.lng}}" title="Store Location"></marker> 
          </ng-map>
        </div>
      </div>
    </div>

    <md-card-actions layout="row" layout-align="end center">
      <!-- 
            NOTE perhaps a "preview changes"? 
            A preview might be better for the whole store though
            A preview just for this content doesn't make sense
      -->
      <md-button ng-click="">Reject Changes</md-button>
      <md-button ng-click="">Save Changes</md-button>
    </md-card-actions>
  
  </md-card>
</div>

<span class="md-display-2"> Food Items </span>
<div ng-repeat="food in store.foods" id="foodEditDiv">
  <md-card class="editCard">
    <div class="innerEditDiv"> 
      <div layout="row" layout-align="center center" layout-xs="column" layout-sm="column">
        <div flex=65>
          <span class="md-title"> Food Name: </span>
          <input type="text" ng-model="food.name" maxlength="25"/>
          <br>
          <br>
          <span class="md-title"> Food Price: </span>
          <input type="text" ng-model="food.price" maxlength="25"/>
          <br>
          <br>
          <span class="md-title"> Portion Size (optional): </span>
          <input type="text" ng-model="food.portionSize" maxlength="25"/>
          <br>
          <br>
          <span class="md-title"> Food Description: </span>
          <input type="text" ng-model="food.description" maxlength="25"/>
          <br>
          <br>
          <span class="md-title"> Shelf Life (days): </span>
          <input type="text" ng-model="food.shelfLife" maxlength="25"/>
          <br>
          <br>
          <span class="md-title"> Food Prep Time (might not need): </span>
          <input type="text" ng-model="food.description" maxlength="25"/>
          <br>
          <br>
          <span class="md-title"> Food Photo: </span>
          <md-button ng-click="editFoodPhoto(food.photo)">
            Edit
          </md-button>
        </div>
        <div flex=35>
          <md-card>
            <div class="foodImageInfo" layout="row" layout-align="space-between center">
              <span class="foodPrice"> ${{food.price}} </span>
              <span class="foodRating" align="right"> 
                <md-icon class="star material-icons" ng-repeat="star in $ctrl.getNumber(food.overallRating) track by $index"> star </md-icon>
              </span>
            </div>
            <img ng-src="{{food.photo}}" class="md-card-image" alt="Store Image">      
            

            <md-card-actions layout="row" layout-align="center center">
              <md-button ng-click="">Add to Cart</md-button>
            </md-card-actions>
          </md-card>
        </div>

      </div>
    </div>
    <md-card-actions layout="row" layout-align="space-between center">
      <div>
        <md-button ng-click="">Delete Food</md-button>
      </div>
      <div>
        <md-button ng-click="">Reject Changes</md-button>
        <md-button ng-click="">Save Changes</md-button>
      </div>
    </md-card-actions>
  </md-card>
</div>
